:root {
  --blue: rgb(122, 161, 178);
  --gray: rgb(155, 160, 163);
  --black: rgb(44, 48, 51);
  --shadow: rgb(102, 102, 102);
  --white: rgb(249, 249, 249);
  --av-size: 60px;

}
body {
  margin: 0;
  padding: 0;
  font: 16px "Source Sans Pro", sans-serif;
  background-color: var(--white);
}
span {
  color: var(--white);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.collection {
  flex-direction: row;
}

.pop-box {
  width: 280px;
  border-radius: 2px;
  background: var(--black);
  padding: 14px;
  box-shadow: 2px 2px 10px var(--shadow);
}
.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--black);
  z-index:1
}

.loading {
  border-color: var(--blue);
  border-bottom: transparent;
  animation: spin 1s linear 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay {
  position: relative;
  background: var(--blue);
  opacity: 0;
  width: var(--av-size);
  height: var(--av-size);
  border-radius: 50%;
  top: -67.5px;
  left: 3px;
}
.avatar {
  width: var(--av-size);
  height: var(--av-size);
  border-radius: 50%;
  border: 1px solid var(--white);
}

.avatar:hover, .avatar:focus {
  border: 1px solid var(--gray);
}

li {
  list-style: none;
}

li>.avatar {
  border: 3px solid transparent;
}

li:hover .avatar{
  border: 3px solid var(--gray);
}
li:hover .overlay{
  opacity: .2;
}
