
:root {
  --blue: rgb(122, 161, 178);
  --gray: rgb(155, 160, 163);
  --black: rgb(44, 48, 51);
  --shadow: rgb(102, 102, 102);
  --white: rgb(249, 249, 249);
  --av-size: 60px;
  --offset: -67.5px;

}
body {
  font: 16px "Source Sans Pro", sans-serif;
  background: var(--white);
  color: var(--white);
}
span {
  margin: 14px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* ----------------- */

/* Turn off default focus outlines */
/* only after applying new outline feature */
.displayed:focus, img:focus, li:focus, ul:focus, .modal:focus {
  outline: 0;
}

/*:focus {
  outline: none;
}*/






